<footer class="footer">
    <div class="container">
    <small>
    <a href="#">B1 Music Storage</a> by Frederick Straller
    </small>
    <nav>
    <ul>
        <li>@Html.ActionLink("About", "About", "StaticPages")</li>
        <li>@Html.ActionLink("Contact", "Contact", "StaticPages")</li>
        <li><a href="#">News</a></li>
    </ul>
    </nav>
    </div>
</footer>